<ion-view view-title="BroScore" class="view-login" hide-nav-bar="true">
  <ion-content scroll="false">
    <div class="logo">
      <h1 class="assertive" style="font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;">BroScore</h1>
      <h4 class="assertive" style="font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;"><i>"You PC bruh"</i></h4>
    </div>

    <form name="loginForm" ng-submit="loginUser(loginForm)" novalidate="novalidate">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="email" placeholder="Email" name="email" ng-model="formData.email" ng-pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" ng-required="true">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="........." name="password" ng-model="formData.password" ng-required="true" ng-minlength="6">
        </label>

        <div class="form-errors assertive text-center" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty"><div ng-messages-include="templates/pages/utility/form-errors.html"></div></div>

        <button class="button button-block button-assertive" ng-disabled="!loginForm.$valid">
          SIGN IN
        </button>

        <!--
        dm7btdfkdclddnsj5jq8ieiom
        <span>-or-</span>
        <button class="button button-block button-outline button-assertive" ng-click="loginMeetup();">
          Meetup
        </button>
        -->

        <a ui-sref="register">Create Acount</a>
      </div>
    </form>
  </ion-content>
</ion-view>
