<!-- (*) classes assigned or controller -->

<ion-side-menus>
    <ion-side-menu-content>
      <ion-nav-bar class="bar-assertive">
          <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
          <ion-nav-buttons side="left">
              <button class="button button-icon button-clear ion-ios-drag" menu-toggle="left"></button>
          </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" expose-aside-when="large">
    <!-- button in header-bar -->
    <ion-header-bar></ion-header-bar>
    <ion-content>
      <ul class="list">
        <!-- item-avatar user with status -->
        <a class="item item-avatar" nav-clear ng-if="user.attributes.email">
            <img ng-src="https://www.gravatar.com/avatar/{{ user.attributes.email | gravatar }}">
            <h2>{{ user.attributes.firstName | capitalize }} {{ user.attributes.lastName | capitalize }}</h2>
        </a>
        <!-- menu items  with style active, inactive on off -->
        <a class="item item-icon-left" ui-sref-active="active" nav-clear menu-close ui-sref="app.brosquad.dashboard">
            <i class="icon ion-ios-game-controller-a-outline"></i>BroSquads
        </a>
        <a class="item item-icon-left" ui-sref-active="active" nav-clear menu-close ui-sref="app.profile">
            <i class="icon ion-ios-person-outline"></i>Profile
        </a>
        <a class="item item-icon-left" ui-sref-active="active" nav-clear menu-close ui-sref="app.profile">
          <i class="icon ion-ios-book-outline"></i>BroCode
        </a>
        <a class="item item-icon-left" ui-sref-active="active" nav-clear menu-close ui-sref="app.bestbro">
          <i class="icon ion-trophy"></i>Best Bro
        </a>
        <a class="item item-icon-left" nav-clear menu-close ng-click="logout()" ng-show="user">
            <i class="icon ion-ios-locked-outline"></i>Logout
        </a>
      </ul>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
