<ion-view view-title="Create A BroSquad" cache-view="false">
  <ion-content>

    <div class="row">
      <div class="col">
        <div class="list">
          <form name="createBroSquadForm" ng-submit="createBroSquad(createBroSquadForm)">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Name your BroSquad*</span>
              <input type="text" ng-model="formData.title" placeholder="" ng-required="true">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Invite Your Bros by Email</span>
              <tags-input ng-model="formData.emails"></tags-input>
            </label>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-25">&nbsp;</div>

      <div class="col col-50 text-center">
        <div ng-show="!formData.picture">
          <span class="barcode-scanner-header" ng-click="addPicture();"><i class="icon ion-camera"></i></span>
          <p>Tap the icon to add a pic of your BroSquad.</p>
        </div>
        <div ng-show="formData.picture">
          <div class="picture item-thumbnail thumbnail img-thumbnail">
            <img ng-src="data:image/jpeg;base64,{{formData.picture}}" width="100%" />
          </div>
        </div>
      </div>

      <div class="col col-25">&nbsp;</div>
    </div>

    <div class="row">
      <div class="col">
        <div class="padding">
          <button class="button button-block button-assertive" ng-click="createBroSquad(createBroSquadForm);" ng-disabled="createBroSquadForm.$invalid">
            Create your BroSquad
          </button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
