<ion-view view-title="BroSquad Dashboard">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="loadBroSquads('refresh')"></ion-refresher>
    <ion-list ng-if="broSquads.length > 0">

      <ion-item class="item-thumbnail-left" ng-repeat="squad in broSquads" ui-sref="app.brosquad.squad.newsfeed({id: squad.id})">
        <img ng-if="!squad.attributes.picture" src="img/you-pc-bruh.jpg" />
        <img ng-if="squad.attributes.picture" ng-src="{{squad.attributes.picture.url() | parseFileUrl}}" >

        <h2>{{squad.attributes.title}}</h2>

        <ion-option-button class="button-assertive" ng-click="leaveBroSquad($index, squad)">Leave BroSquad</ion-option-button>
      </ion-item>

    </ion-list>

    <div class="padding-top" ng-show="broSquads.length < 1">
      <div class="padding">
        <p class="text-center">YOU PC BRUH?! JOIN OR CREATE A BroSquad TO GET STARTED!</p>
      </div>
    </div>

    <ion-nav-view name="squad-page"></ion-nav-view>

  </ion-content>
</ion-view>
