<ion-tabs class="tabs-icon-top tabs-background-assertive tabs-color-light" >

  <ion-tab title="BroScore Dashboard"
           icon="ion-ios-home"
           ui-sref="app.brosquad.dashboard" >
    <ion-nav-view name="tab-brosquad-dashboard"></ion-nav-view >
  </ion-tab >

  <ion-tab title="Join a BroSquad"
           icon="ion-person-stalker"
           ui-sref="app.brosquad.join" >
    <ion-nav-view name="tab-brosquad-join"></ion-nav-view >
  </ion-tab >

  <ion-tab title="Create a BroSquad"
           icon-off="ion-plus"
           icon-on="ion-plus"
           ui-sref="app.brosquad.create" >
    <ion-nav-view name="tab-brosquad-create" ></ion-nav-view >
  </ion-tab >

</ion-tabs >
