<ion-view view-title="Join A BroSquad">
  <ion-content>

    <div class="row">
      <div class="col text-center padding">
        <span class="barcode-scanner-header" ng-click="scan();"><i class="icon ion-ios-barcode-outline"></i></span>
        <p>Tap the icon to scan BroSquad invite code.</p>
      </div>
    </div>

    <div class="row">
      <div class="col text-center padding">
        <h2>OR</h2>
      </div>
    </div>

    <div class="row">
      <div class="col col-center text-center padding">
        <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" ng-model="formData.inviteCode" placeholder="Invite Code">
            </label>
            <button class="button button-small button-assertive" ng-click="join();" ng-disabled="!formData.inviteCode || formData.inviteCode.length < 8">
              Join
            </button>
          </div>
          <p class="padding-top">Paste an invite code to join a BroSquad.</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
