<ion-tabs class="tabs-icon-top tabs-background-assertive tabs-color-light" >

  <ion-tab title="BRO FEED"
           icon="ion-paper-airplane"
           ui-sref="app.brosquad.squad.newsfeed" >
    <ion-nav-view name="tab-squad-newsfeed"></ion-nav-view >
  </ion-tab>

  <ion-tab title="START A VOTE"
           icon="ion-plus-round"
           ui-sref="app.brosquad.squad.vote" >
    <ion-nav-view name="tab-squad-vote"></ion-nav-view >
  </ion-tab>

  <ion-tab title="WEEKLY LEADERBOARD"
           icon="ion-ribbon-a"
           ui-sref="app.brosquad.join" >
    <ion-nav-view name="tab-brosquad-join"></ion-nav-view >
  </ion-tab >

  <ion-tab title="ALL-TIME LEADERBOARD"
           icon="ion-trophy"
           ui-sref="app.brosquad.create" >
    <ion-nav-view name="tab-brosquad-create" ></ion-nav-view >
  </ion-tab >

</ion-tabs >
