<ion-view view-title="Start A Vote">
  <ion-content>

    <div class="row">
      <h1>Call A Vote</h1>
    </div>

    <div class="row">
      <div class="col">
        <form name="startVote" ng-submit="vote()" novalidate="novalidate">
          <div class="list">

            <label class="item item-input item-select">
              <div class="input-label">
                <p>Nominate Bro</p>
              </div>
              <select>
                <option selected>Miami</option>
                <option>Neal</option>
                <option>Jaime</option>
              </select>
            </label>

            <label class="item">
              <div class="button-bar bar-assertive">
                <a class="button">Bro Point</a>
                <a class="button">Dick Point</a>
                <a class="button">-1 Bro Point</a>
              </div>
            </label>

            <label class="item item-input">
              <textarea placeholder="Comments"></textarea>
            </label>

            <button class="button button-block button-positive">
              Block Button
            </button>

          </div>
        </form>
      </div>
    </div>



  </ion-content>
</ion-view>

