<ion-view view-title="BroFeed" align-title="center">
  <ion-content>

    <div class="row">
      <button class="button button-block button-energized active" ui-sref="app.brosquad.squad.vote">START A VOTE</button>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="https://www.gravatar.com/avatar/{{ user.attributes.email | gravatar }}">
        <h2>{{ user.attributes.firstName | capitalize }} {{ user.attributes.lastName | capitalize }}</h2>
        <p>Monday @ 2:30PM</p>
      </div>

      <div class="item item-body">
        <p>Jullian is being captain douche!</p>
        <p>
          <a href="#" class="subdued">5 <i class="icon ion-thumbsup"></i></a>
          <a href="#" class="subdued">1 <i class="icon ion-thumbsdown"></i></a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item">
          <i class="icon ion-thumbsdown"></i>
          Dislike
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>
