<!-- (*) assigned classes -->

<ion-view view-title="Brofile">
	<ion-content>
		<!-- *view-profile / container -->
		<div class="view-profile">
			<!-- *profile-bg / background color -->
			<div class="profile-bg">
        <a class="item item-avatar" nav-clear>
          <!-- *content-img / container -->
          <div class="content-img">
            <img src="https://www.gravatar.com/avatar/{{ user.attributes.email | gravatar }}">
          </div>
          <h2>{{ user.attributes.firstName | capitalize }} {{ user.attributes.lastName | capitalize }}</h2>
        </a>
      </div>

      <!-- button bar with style FOLLOWER / FOLLOWING
      <div class="button-bar">
        <a class="button">
          <h2>13520</h2>
          <p>FOLLOWER</p>
        </a>
        <a class="button">
          <h2>2450</h2>
          <p>FOLLOWING</p>
        </a>
      </div>
      -->

			<!-- list with inputs style -->
      <form name="updateProfileForm" ng-submit="updateProfile(updateProfileForm);" novalidate="novalidate">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="First Name" name="firstName" ng-model="formData.firstName" ng-required="true">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Last Name" name="lastName" ng-model="formData.lastName" ng-required="true">
          </label>
          <label class="item item-input">
            <input type="email" placeholder="Email" name="email" ng-model="formData.email" ng-pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" ng-required="true">
          </label>

          <button type="submit" class="button button-block button-assertive" ng-disabled="!updateProfileForm.$valid">
            UPDATE PROFILE
          </button>
        </div>
      </form>
    </div>
	</ion-content>
</ion-view>
