.barcode-scanner-header {
  font-size: 6em;
}

/* Create BroSquad Email label style overrides */
tags-input .host {width: 97% !important;}
a.remove-button {color: #ffffff !important;}
.white {color: #ffffff;}
